<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800223160362-sqaubuonlh12q7e1be0b50rsrut9edk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800223160362-sqaubuonlh12q7e1be0b50rsrut9edk2</string>
	<key>API_KEY</key>
	<string>AIzaSyANi4TN3oTjwwJPiLhE-rFes8FAkXTQZO4</string>
	<key>GCM_SENDER_ID</key>
	<string>800223160362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eBook</string>
	<key>PROJECT_ID</key>
	<string>booke-6db00</string>
	<key>STORAGE_BUCKET</key>
	<string>booke-6db00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800223160362:ios:099e64e652a314c325bb53</string>
</dict>
</plist>